.color-star i{
    color: yellow;
    font-size: 14px;
}
.btn-comment{
    display: block;
    height: 60px;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.4);
    transition: all 0.35s linear;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-comment:hover{
    color: white;
    background-color: black;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.account-user p{
    font-size: 14px
}
.comment-item{
    box-shadow: 1px 1px 4px 5px rgba(0,0,0,0.1);
}
.commnet-content{
    padding: 20px;
}
.comment-content{
    height: 120px;
}