<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Hello, world!</title>
    <style>
        .product-search-list{
            width: 800px;
            margin: 10px auto;
            height: 400px;
            overflow: auto;
        }
        .product-search-img{
            width: 60px;
        }
        .product-search-item{
            transition: background-color linear 0.35s;
            padding: 5px 20px;
        }
        .product-search-item:hover{
            background-color: antiquewhite;
        }
    </style>
  </head>
  <body>
        
        <div class="container">
            <div class="product-search-list">
                <div class="d-flex product-search-item justify-content-between align-items-center">
                   <div class="product-search-img">
                        <img class="w-100" src="https://content.rolex.com/dam/new-watches-2021/homepage/roller/all-watches/watches_0003_m126200-0020-datejust.jpg?imwidth=420" alt="">
                   </div>
                   <div>
                        <h5>Đồng hồ Rolex</h5>
                        <p>Đồng hồ thời trang</p>
                   </div>
                   <div>
                       <p>1.500.000đ</p>
                   </div>
                </div>
            </div>
        </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
